@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
 
}

@layer utilities {
  
}
/* 
button{
  background-color: #00021D !important;
  color: white;
  padding: 5px 10px;
  border: 2px solid #20A1FF;
  border-radius: 50px;
  box-shadow: 0 0 5px 2px #20A1FF;
} */